{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2 style="color:#1F3A2A; font-weight:bold; margin-bottom:20px;">
        Contact Messages
    </h2>

    <table class="table table-bordered table-hover">

        <thead>
    <tr>
        <th>ID</th>
        <th>სახელი, გვარი</th>
        <th>ელ. ფოსტა</th>
        <th>შეტყობინება</th>
    </tr>
</thead>

        <tbody>
            {% for c in contacts %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.email }}</td>
                <td style="max-width: 400px; white-space: pre-wrap;">
    {{ c.message }}
</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}