{% extends "admin_base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="card p-4 shadow-sm">

        <h3 style="color:#1F3A2A; font-weight:bold;">
            პროექტის რედაქტირება
        </h3>

        <form method="POST">

            <div class="mb-3">
                <label>სათაური</label>
                <input class="form-control"
                       name="title"
                       value="{{ project.title }}">
            </div>

            <div class="mb-3">
                <label>მოკლე აღწერა</label>
                <input class="form-control"
                       name="short_description"
                       value="{{ project.short_description }}">
            </div>

            <div class="mb-3">
                <label>სრული აღწერა</label>
                <textarea class="form-control"
                          name="full_description">{{ project.full_description }}</textarea>
            </div>

            <div class="mb-3">
                <label>სურათის ლინკი</label>
                <input class="form-control"
                       name="image_link"
                       value="{{ project.image_link }}">
            </div>

            <div class="mb-3">
                <label>სტატუსი</label>
                <select class="form-control" name="project_status">
                    <option value="open"
                            {% if project.project_status == 'open' %}selected{% endif %}>
                        ყოველთვის ღია
                    </option>

                    <option value="limited"
                            {% if project.project_status == 'limited' %}selected{% endif %}>
                        შეზღუდული
                    </option>
                </select>
            </div>

            <div class="d-flex gap-2 mt-3">

                <button type="submit" class="btn btn-success">
                    შენახვა
                </button>

                <a href="{{ url_for('admin_projects') }}"
                    class="btn btn-secondary">
                    გაუქმება
                </a>

            </div>
        </form>

    </div>

</div>

{% endblock %}