{% extends "base.html" %}

{% block content %}


<div style="width: 90%; margin-left: 5%;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.pexels.com/photos/36765619/pexels-photo-36765619.jpeg?_gl=1*1gxlcgx*_ga*MTMyMjQzNTA5Mi4xNzc5NjkzMTM0*_ga_8JE65Q40S6*czE3ODA0MTUwODQkbzkkZzEkdDE3ODA0MTUxNjIkajU3JGwwJGgw"
                     class="carousel-image" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/5537517/pexels-photo-5537517.jpeg?_gl=1*1pf13d5*_ga*MTMyMjQzNTA5Mi4xNzc5NjkzMTM0*_ga_8JE65Q40S6*czE3ODA0MTUwODQkbzkkZzEkdDE3ODA0MTUyNTEkajI4JGwwJGgw"
                     class="carousel-image" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/5324973/pexels-photo-5324973.jpeg?_gl=1*zggpi6*_ga*MTMyMjQzNTA5Mi4xNzc5NjkzMTM0*_ga_8JE65Q40S6*czE3ODA0MTUwODQkbzkkZzEkdDE3ODA0MTUyNzkkajYwJGwwJGgw"
                     class="carousel-image" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/33920051/pexels-photo-33920051.jpeg?_gl=1*1pjffxj*_ga*MTMyMjQzNTA5Mi4xNzc5NjkzMTM0*_ga_8JE65Q40S6*czE3ODA0MTUwODQkbzkkZzEkdDE3ODA0MTUzMjMkajE2JGwwJGgw"
                     class="carousel-image" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/7692992/pexels-photo-7692992.jpeg?_gl=1*1t6asr1*_ga*MTMyMjQzNTA5Mi4xNzc5NjkzMTM0*_ga_8JE65Q40S6*czE3ODA0MTUwODQkbzkkZzEkdDE3ODA0MTUzOTAkajI3JGwwJGgw"
                     class="carousel-image" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/7342634/pexels-photo-7342634.jpeg?_gl=1*q9mq15*_ga*MTMyMjQzNTA5Mi4xNzc5NjkzMTM0*_ga_8JE65Q40S6*czE3ODA0MTUwODQkbzkkZzEkdDE3ODA0MTU1NjMkajQzJGwwJGgw"
                     class="carousel-image" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br>
<div class="hero-carousel">
    <h3>ბოლოს დამატებული პროექტები:</h3>
    <br>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 1rem;">
        <div class="container mt-4">
    <div class="row g-4">
        {% for project in our_projects %}
            <div class="col-12 col-sm-6 col-md-4">
                {% include "components/project_card.html" %}
            </div>
        {% endfor %}
    </div>
</div>
    </div>
</div>

{% endblock %}