{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    <div class="project-details-card">

        <div class="project-details-image-wrapper">

            <img src="{{ project['image_link'] }}"
                 alt="Project Image"
                 class="project-details-image">

        </div>


        <div class="p-4 p-md-5">

            {% if project['project_status'] == 'open' %}

                <span class="project-details-status project-details-status-open">
                    ყოველთვის ღია
                </span>

            {% else %}

                <span class="project-details-status project-details-status-limited">
                    დრო შეზღუდულია
                </span>

            {% endif %}


            <h1 class="project-details-title">
                {{ project['title'] }}
            </h1>


            <hr>


            <h4 class="project-details-section-title">
                პროექტის აღწერა
            </h4>

            <p class="project-details-description">
                {{ project['full_description'] }}
            </p>


            {% if project.additional_info %}

                <hr>

                <h4 class="project-details-section-title">
                    დამატებითი ინფორმაცია
                </h4>

                <p class="project-details-description project-details-additional-info">
                    {{ project.additional_info|linkify|safe }}
                </p>

            {% endif %}


            <div class="project-details-buttons">

                <a href="/current-projects"
                   class="project-details-button project-details-back-button">
                    ← პროექტების გვერდზე
                </a>

                <a href="/"
                   class="project-details-button project-details-book-button">
                    დაჯავშნა
                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}